 <link rel="stylesheet" href="/css/selectstyle.css">
<table>

      <tr>
          
 
        <th>Id</th>
        <th>PRODUTO</th>
        <th>PRECO</th>
        <th>x</th>
      </tr>
    
    {{#produto}}
        <tr>
            
            <!--<td><a href='deletar/{{ID}}' class='deletar'><img src='/img/trash.png'></a> </td>
            <td><a href='update/{{ID}}' class='update'><img src='/img/edit.jpg'></a> </td> -->
            <td>{{id_produto}}</td>
            <td>{{nome}}</td>
            <td>{{preco}}</td>
            <td>{{request.tipo}}</td>
        </tr>
    {{/produto}}
</table>

